@import "./../main.scss";


.minicarousel{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    

    #left{
        order: 1;
    }
    #right{
        order: 7;
    }
    .arrow{
        width: 50px;
        height: 50px;
        position: relative;
    }

    #resource0{
        order: 2;
    }
    #resource1{
        order: 3;
    }
    #resource2{
        order: 4;
    }
    #resource3{
        order: 5;
    }
    #resource4{
        order: 6;
    }

    
    .resource {
        width: 10vw;
        height: 10vw;
        font-size: 2vw;
        border-radius: 50%;
        contain: cover;
        text-align: center;
        align-content: center;
        padding: 2%;
        margin: 2vw;
       
        
        a{
            margin: 0;
            position: relative;
            top: 50%;
            line-height: 0;
        }
        
    }

    
}

