@import "./../main.scss";

.button {
  border-radius: 14px;
  color: #000;
  // max-width: 50%;
  margin: 50px;
  font-weight: bold;
  text-align: center;

  a {
    text-decoration: none;
    color: #000;
  }

  &.default {
    padding: 18px;
    font-size: 28px;
    background-color: #CDCDFF;
    width: 250px;
    @include respond(tab-port) {
      padding: 10px;
      font-size: 24px;
      width: 200px;
    }
  }

  &.donate {
    padding: 13px;
    font-size: 27px;
    background-color: #9791E1;
    width: 250px;
    @include respond(tab-port) {
      padding: 8px;
      font-size: 18px;
      width: 140px;
    }
  }
}