@import "./../main.scss";
@import "./../mixins.scss";

.button {
  border-radius: 14px;
  color: #000;
  // max-width: 50%;
  margin: 50px;
  font-weight: bold;
  text-align: center;

  &.default {
    padding: 18px;
    font-size: 28px;
    background-color: #CDCDFF;
    width: 250px;
    @include respond(sm) {
      padding: 12px;
      font-size: 22px;
      width: 100px;
    }
  }

  &.donate {
    padding: 13px;
    font-size: 27px;
    background-color: #9791E1;
    width: 250px;
  }
}