@import "./../main.scss";

.VineBlurb {
    padding:  3rem;
    display: block;
    position: relative;
    align-items: center;
    @include respond(tab-port) {
        width: 80%;
        margin: 1rem auto;
    }
}

.vine {
    justify-content: center;
    position: relative;
    display: block;
    margin: auto;
    width: 90%;
}

.blurb {
    justify-content: center;
    left: 30%;
    bottom: 250px;
    display: inline-block;
    position: relative;
    margin: auto;
    @include respond(tab-port) {
        font-size: small;
        bottom: 220px;
    }
}

.text {
    padding: 1.5rem;
}