@import "./../main.scss";

.VineBlurb {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    position: relative;
    @include respond(tab-port) {
        width: 78.666vw;
        margin: 4vw 10.667vw;
    }
}

.blurb {
    position: absolute;
    bottom: 25rem;
    right: 30rem;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
