@import "./../main.scss";

.Feature{
    width: 100%;
    height: 96vh;
    padding: 2% 5%;
    display: flex;
    contain: cover;
    

    .text{
        align-self: flex-end;
        width: 100%;
        h1{
            font-size: 3em;
        }
        h2, h3{
            font-weight: normal;
            line-height: 0.75em;
        }

        .num{
            font-size: .5em;
            font-weight: lighter;
            float:right;
            width: 20%;
        
            .likes{
                width: 20px;      
              }
          }
    }

    
}