@import "./../main.scss";

.card {
    padding: 1.389vw;
	margin: 2.083vw;
    box-shadow: 0.347vw 0.347vw 1.389vw 0.069vw rgba(0, 0, 0, 0.25);
    width: 15vw;
    max-width: 300px;
    min-width: 200px;
    flex: 1;
    text-align: center;
    display: table-cell;
    
    
    @include respond(tab-port) {
        width: 78.666vw;
        margin: 4vw 10.667vw;
    }

    .title {
        color: $accent-text-purple;
        line-height: 1em;
        margin: 0.5em 0.5em 0 0.5em;
    }

    .info {
        color: $dark-text-purple;
        line-height: 1.15em;
    }

    .img {
        width: 90%;
        height: auto;
    }
}