@import "../main.scss";

.navbar-desktop {
  display: flex;
  justify-content: space-between;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 7.638vw);
  padding: 22px 3.819vw;
  background-color: $white;
  margin-bottom: 100px;

  @include respond(tab-port) {
    display: none;
  }

  .logo {
    width: 62px;
    height: 62px;
    float: left;
  }

  .items {
    float: right;
    display: flex;
    justify-content: flex-end;
    .item {
      margin: 0.278vh;
      padding: 8px 1.806vw 0px 1.806vw;
      border-radius: 36px;
      height: 40px;
      p {
        font-size: 18px;
        line-height: 29px;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

.navbar-mobile {
  display: none;
  font-family: $montserrat;
  @include respond(tab-port) {
    display: block;
  }
}

.active-class {
  padding: 8px 1.806vw 8px 1.806vw;
  border-radius: 36px;
  background-color: $pale-green;
  height: 40px;
  font-size: 18px;
  line-height: 29px;
  text-decoration: none;
  color: inherit;
}
