@import url("https://use.typekit.net/upg4lus.css");

//Mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 376px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 576px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
}

@mixin flex($flex, $fallback-width: 20%) {
  -webkit-box-flex: $flex; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $flex; /* OLD - Firefox 19- */
  -webkit-flex: $flex; /* Chrome */
  -ms-flex: $flex; /* IE 10 */
  flex: $flex;
  width: $fallback-width; /* Old syntax, otherwise collapses. */
}

@mixin display-flex() {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW - Opera 12.1, Firefox 20+ */
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//Fonts
$montserrat: "Montserrat", sans-serif;

//Colors
// $coral: #ff534f;
// $neon: #363fff;
// $slate: #082a44;
// $mustard: #fcb14b;
// $teal: #00b8b9;
// $violet: #452081;
$primary-purple: #ABA7DD;
$landing-purple: #514B91;
$accent-text-purple: #7D78BE;
$dark-text-purple: #181143;
$pale-green: #8CC6C3;
$mint-green: #BBE7E4;
$dark-green: #348581;
$white: #fff;
$light-purple: #F1F1FC;
$light-grey: #DEDEDE;
$gray: #F7EFED;

//Grids

//Styles
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: $montserrat;
  margin: 0;
  text-align: center;
}
.section {
  margin: 0;
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5vw 10vw 5vw 10vw;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include respond(tab-port) {
    flex-direction: column;
  }
}

.my-container {
  display: flex;
}

.heading {
  font-size: 4em;
}

.subheading {
  font-size: 3em;
}

.blogcards{
  display: flex;
  flex-wrap: wrap;
}

h1{
  text-align: center;
  font-size: 4em;
}

.purple{
  color: $landing-purple;
}

.event-column {
  float: left;
  width: 50%;
  padding: 10px;
}

.event-row {
  display: flex;
  margin: auto;
  text-align: center;
  padding: 1rem;
}

// this was causing issues
// .row::after {
//   content: "event description";
//   display: table;
//   clear: both;
//   padding: 150px 0;
//   text-align: center;
//   margin: auto;
// }

.vine-img {
  z-index: -2;
  width: auto;
}

.blurb {
  text-align: center;
  padding-bottom: 20px;
}

.vine-section {
  position: relative;
  margin-top: -200px;
  height: 500px;
  width: auto;
  z-index: -2;
}

.featured-blog {
  position: relative;
}

.featured-blog div{
  text-align: left;
}

.featured-blog h2{
  color: $accent-text-purple;
}

.featured-blog img{
  opacity: 0.5;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  margin: 40px;
  padding: 10px;
}

.blog-card-list {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
}
