@import url("https://use.typekit.net/upg4lus.css");

//Mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 376px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 576px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
}

@mixin flex($flex, $fallback-width: 20%) {
  -webkit-box-flex: $flex; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $flex; /* OLD - Firefox 19- */
  -webkit-flex: $flex; /* Chrome */
  -ms-flex: $flex; /* IE 10 */
  flex: $flex;
  width: $fallback-width; /* Old syntax, otherwise collapses. */
}

@mixin display-flex() {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW - Opera 12.1, Firefox 20+ */
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//Fonts
$montserrat: "Montserrat", sans-serif;

//Colors
$primary-purple: #ABA7DD;
$landing-purple: #514B91;
$accent-text-purple: #7D78BE;
$dark-text-purple: #181143;
$pale-green: #8CC6C3;
$dark-green: #348581;
$white: #fff;
$light-purple: #F1F1FC;
$light-grey: #DEDEDE;
$gray: #F7EFED;

//Grids

//Styles

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: $montserrat;
  margin: 0;
}
.section {
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include respond(tab-port) {
    flex-direction: column;
  }
}

.my-container {
  display: flex;
}

.blogcards{
  display: flex;
  flex-wrap: wrap;
}
