@import "./main.scss";
@import url("https://use.typekit.net/upg4lus.css");

.resources {
  h1 {
    margin-top: 213px;
    font-size: 67px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: center;
  }

  .warning {
    padding: 60px;
    margin: 160px 4.45vw;
    border-radius: 20px;
    background-color: $pale-green;

    p {
      font-size: 28px;
      line-height: 34px;
    }
  }
}

.getInvolved {
  h1 {
    margin-top: 213px;
    font-size: 67px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: center;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .left {
      width: 38vw;
      text-align: center;

      h4 {
        font-weight: 600;
        font-size: 35px;
      }

      p {
        margin: 2.222vw 2.222vw 0 2.222vw;
      }
    }

    .right {
      width: 55%;
      display: flex;
      flex-direction: row;
    }
  }
}