@import "./../main.scss";

.TextCard{
    margin: 2% auto;
    width: 100%;
    text-align: center;


    .textcard{
        margin: auto;
        width: 90%;
        display: inline-flex;
        flex-wrap: wrap; 

        img{
            width: 20%;
            min-width: 275px;
            margin: 2% auto;
        }
    }

    .lefttext{
        border-left: 5px solid black;
        text-align: left;
    }

    .righttext{
        border-right: 5px solid black;
        text-align: right;
    }
    
    .text{
        width: 50%;
        padding-left: 5%;
        padding-right: 5%;
        margin: auto;
    }
    

}
