@import "./../main.scss";
@import url("https://use.typekit.net/upg4lus.css");

.footer {
    background: $primary-purple;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em;
    @include respond(tab-port) {
        flex-direction: column;
    }

    .col {
        width: 25vw;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 1.389vw 2.778vw;
        flex-direction: column;
        text-align: center;
        @include respond(tab-port) {
            display: block;
            width: auto;
            padding: 6.400vw;
        }
    }

    .first {
        font-size: 1em;
    }

    .second {
        .logo {
            width: 5em;
        }
        .title {
            font-weight: bold;
            font-size: 2em;
            margin-bottom: 0px;
        }
        .connect {
            font-size: 1em;
        }
    }
    

    .third {
        .title {
            font-weight: bold;
            font-size: 1.5em;
        }
        .contact {
            text-align: left;
        }
        .newsletter {
            background-color: $dark-green;
            color: #fff;
            margin: 0;
            padding: 0.972vw;
            @include respond(tab-port) {
                width: auto;
                padding: 3.733vw;
            }
            input {
                font-family: $montserrat;
                width: 100%;
                background-color: $pale-green;
                border: none;
            }
            p {
                margin: 0.972vw;
            }
        }
    }
}