@import "./../main.scss";

.socials {
    width: 100%;

    .fa {
        padding: 0.3em;
        font-size: 1.2em;
        width: 1.2em;
        height: 1.2em;
        text-align: center;
        text-decoration: none;
        margin: 5px 10px;
        border: 2px solid white;
        border-radius: 50%;
        color: white;
    }
    
    .fa:hover {
        opacity: 0.7;
        color: white;
        text-decoration: none;
    }
}

.socials{
    .socials {
      width: 100%;
  
      .fa {
          padding: 0.3em;
          font-size: 1.2em;
          width: 1.2em;
          height: 1.2em;
          text-align: center;
          text-decoration: none;
          margin: 5px 10px;
          border: 2px solid black;
          border-radius: 50%;
          color: black;
      }
      
      .fa:hover {
          opacity: 0.7;
          color: black;
          text-decoration: none;
      }
  }
  }