@import "./../main.scss";

.button-item {
    height: 10vw;
    min-width: 10vw;
    border-radius: 50%;
    border-style: none;
    padding: 5px;
    position: relative;
    background-color: #CDCDFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include respond(tab-port) {
        height: 25.333vw;
        min-width: 25.333vw;
    }

    img {
        width: 4.8vw;
        @include respond(tab-port) {
            width: 9.067vw;
        }
    }

    .text-blurb {
        font-style: italic;
        font-family: $montserrat;
        font-size: 20px;
        text-align: center;
    }

}