@import "./../main.scss";

.container {
    padding: 4rem;
}
.round-button {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border-style: none;
    padding: 5px;
    position: relative;
    background-color: #CDCDFF;
}

.text-blurb {
    font-style: italic;
    font-family: $montserrat;
}

.button-item {
    margin-left: 1rem;
}
