@import "./../main.scss";
@import './../pages.scss';

.blogCard{  
  width: 26rem;
  background-color: #ffffff;
  margin: 2%;
  text-align: left;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  height: 32rem;
}

.img{
    height: 20rem;
    margin: auto;
  }
      
.blogCardMeta{
  padding: 2em;
}

.excerpt{
    margin: 1.5em 0 0 0;
    font-style: italic;
}
      
.like{
  font-weight: lighter;
  color: black;
}

.num{
  font-size: .5em;
  font-weight: lighter;
  float:right;
}
.likes{
  width: 10px;      
}

.title {
  font-weight: bold;
  font-size: large;
}