@import "./../main.scss";

.container {
    position: relative;
    padding: 2rem;
    background-color: $primary-purple;
    width: 55vw;
    line-height: 1.25em;
    margin: auto;
}

.quote {
    margin-left: 6rem;
    margin-right: 6rem;
    font-weight: bold;
    @media (max-width: 800px){
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.startquote {
    justify-content: left;
    position: absolute;
    display: flex;
    right: 90%;
    top: 10%;
}

.endquote {
    justify-content: right;
    position: absolute;
    display: flex;
    right: 10%;
    top: 50%;
}

.credit {
    font-weight: bold;
    text-align: right;
    padding-right: 4rem;
}